.StatisticalScreen {
  padding: 60px 60px 10px;
}

.StatisticalScreen_header {
  position: sticky;
  top: 60px;
}

.StatisticalScreen_body {
  max-height: 70vh;
  overflow-y: auto;
}

.col-md-125 {
  max-width: 12.5% !important;
}

.icon_header {
  font-size: 30px;
  color: #085cd4;
}

.zIndex_100 .react-select__menu {
  z-index: 200 !important;
}
