.search_screen {
  max-height: 80vh;
  overflow-y: auto;
}

.search_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}

.input_search {
  border: 1px solid #338BEB;
  border-radius: 5px;
  padding: 5px 10px;
}

.row_btn {
  justify-content: flex-end;
}
