.CreateTaskScreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(120, 117, 117, 0.5);
  z-index: 12;
}

.CreateTaskScreen_body {
  position: fixed;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  overflow-y: auto;
  background-color: rgba(253, 253, 253);
  z-index: 13;
}

.CreateTaskScreen_body_header {
  background-color: #085cd4;
  padding: 10px 20px;
  color: white;
  position: sticky;
  top: 0;
  font-size: 18px;
  font-weight: 600;
}

.CreateTaskScreen_body_close {
  position: absolute;
  right: 10px;
  color: #ffffff;
  font-size: 35px;
}

.icon_stats {
  font-size: 30px;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 1px 10px;
  margin-left: 12.5%;
  border: 1px solid #ddd;
  border-radius: 5px;

  span {
    flex: 1;
  }

  button {
    margin-left: 10px;
    padding: 10px 20px;
  }
}
