.DepartmentManagementScreen {
  padding: 90px 60px 0px;
}

.DepartmentManagementScreen_body {
  max-height: 80vh;
  overflow-y: auto;
}

.icon_header {
  font-size: 30px;
  color: #085cd4;
}

.tree_view {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
}

.border_left {
  border-left: 1px solid #343434;
}

.table-fixed thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #e3e2e2;
}

.table-fixed th, .table-fixed td {
  padding: 10px;
}

.check_box {
  width: 25px;
  height: 25px;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.moduleCreateDepartment {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 12;
  background-color: rgba(83, 83, 83, 0.8);
}

.closeModuleDepartment {
  position: absolute;
  top: 20px;
  right: 50px;
}

.bodyModuleCreateDepartment {
  position: relative;
  background-color: white;
  padding: 70px 50px 50px 50px;
  border-radius: 20px;
  margin: 5% auto;
}

.body_Module_Create {
  position: relative;
  background-color: white;
  padding: 70px 50px 50px 50px;
  border-radius: 20px;
  width: 50%;
  margin: 5% auto;
}

.active {
  display: block;
}

.inactive {
  display: none;
}
