.table-fixed {
  width: 100%;
}

.table_task_list thead {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ccc;
}

.table-fixed thead {
  position: sticky;
  top: 0;
  z-index: -1;
}

.table_task_list th, .table_task_list td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.icon_mail {
  font-size: 28px;
  color: #787575;
}

.table-fixed tbody {
  display: block;
  max-height: 70vh;
  overflow-y: auto;
}

.table-fixed tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
