.DetailTaskAdminScreen {
  padding: 90px 60px 0px;
}

.icon_header {
  font-size: 30px;
  color: #085cd4;
}

.text_title_type {
  display: flex;
  align-items: center;
  color: #085cd4;
  font-weight: 600;
  font-size: 18px;
}

.text_header_title {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
}

.task_content {
  display: flex;
  flex-wrap: wrap;
}

.body_detail_task {
  max-height: 74vh;
  overflow-y: auto;
}

.table-fixed thead {
  background-color: #f8f9fa;
}

.table-fixed th, .table-fixed td {
  padding: 10px;
}

.row_file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2%;
  background-color: rgba(120, 117, 117, 0.1);
  border-radius: 10px;
}

.icon_download {
  font-size: 30px;
  color: #085cd4;
}

.icon_document {
  font-size: 25px;
  color: #085cd4;
  margin-right: 10px;
}

.icon_user {
  font-size: 40px;
  color: #2390ff;
  margin-right: 15px;
}
